langchain
ipykernel
python-dotenv 
langchain_groq 
langchain_core 
langserve 
streamlit
langchain_community
langchain_chroma 
langchain_huggingface 
sentence_transformers
bs4 
pypdf 
pymupdf
langchain-text-splitters
chromadb 
sentence_transformers
faiss-cpu
pandas 
